.blockContainer .blockContent {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: content-box;
    padding-left: 4%;
    padding-right: 4%;
}
.wpcf7-form p {
    text-align: left;
}
.wpcf7-form p label {
    margin-bottom: 15px;
    cursor: revert-layer;
}
.wpcf7-form p span input {
    height: 48px;
    margin: 12px 0 0;
    padding: 16px 20px;
    border-radius: 5px;
    border: 1px solid #dddedf;
    background-color: #fff;
}
.wpcf7-form p span input::placeholder {
    opacity: 0;
}
.wpcf7-form .col-md-12 p label{
    margin-top: 15px;
    margin-bottom: 0;
}
.wpcf7-form .col-md-12 p input {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    opacity: .65;
    padding: 10px;
    border-radius: 8px;
    border-width: 3px;
    width: 100%;
    font-size: 1rem;
}
.primaryContent .pageTitleContainer {
    padding: 100px 0;
}
.contentTitle {
    font-family: museoserifheavy,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 900;
    color: #1c1d1e;
    line-height: 1.1;
    padding-bottom: 0.5em;
    font-size: 40px;
    text-align: center;
}
.primaryContent .blockWrap_fc132ce63a634db6918bf8043425882f {
    padding-top: 60px;
    padding-bottom: 60px;
}
.primaryContent .blockText .blockInnerContent p {
    color: #1c1d1e;
    text-align: center;
    font-size: 30px;
}
.primaryContent .blockInnerContent .container {
    width: 100% !important;
}
.primaryContent .blockInnerContent form .form-submit {
    color: #1c1d1e;
    background-color: rgba(255,0,0,0.0);
    border-color: #d22084;
    padding: 10px;
    border-radius: 8px;
    border-width: 3px;
    width: 100%;
}
.primaryContent .blockInnerContent form .form-submit:hover {
    color: #FFFFFF;
    background-color: #d22084;
    border-color: #d22084;
    opacity: 1;
}
.blockWrap_c0c0b2075109484b8841978c967dc0b8 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #878787;
}
.blockWrap_c0c0b2075109484b8841978c967dc0b8 .blockInnerContent .maxWidth--content p {
    color: #878787;
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_d1dfe67180cb4c5881b18e6b489086a5 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_d1dfe67180cb4c5881b18e6b489086a5 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_c2132300c93b40f5861773d3f96e1fcc {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_c2132300c93b40f5861773d3f96e1fcc .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_be2a94df53554cdcb1ba6e1ad257d829 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_be2a94df53554cdcb1ba6e1ad257d829 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_b6c0beb2aee144229743543a6a3f9e12 {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #878787;
}
.blockWrap_b6c0beb2aee144229743543a6a3f9e12 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_eac651fef4d64fcdb31f92104fd94ffd {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_eac651fef4d64fcdb31f92104fd94ffd .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_ad69185eed8e4ab0a9d3cbc12b08562b {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_ad69185eed8e4ab0a9d3cbc12b08562b .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_c6327b687027461a97f8cd69ea158e5a {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_c6327b687027461a97f8cd69ea158e5a .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_e704b2fe4b1c4e6c8f611879e0e9775f {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_e704b2fe4b1c4e6c8f611879e0e9775f .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_e549caa836d74addafb737ada50e93f9 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_e549caa836d74addafb737ada50e93f9 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}

.blockWrap_e67c0790c29a4857a7dbd88240f487ad {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_e67c0790c29a4857a7dbd88240f487ad .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_c7a1ac97b5b74ab79cf23c066fcddd91 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_c7a1ac97b5b74ab79cf23c066fcddd91 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_fc6ac439aedc4907b1780af4ef068f8a {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_fc6ac439aedc4907b1780af4ef068f8a .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_da47396efaff4f7283b153e512f341dc {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9e3e9;
}
.blockWrap_da47396efaff4f7283b153e512f341dc .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.blockWrap_e03237fddded4c248d69ff199058baf3 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.blockWrap_e03237fddded4c248d69ff199058baf3 .blockText .blockInnerContent p {
    font-size: 16px;
    line-height: 1.6;
}
.maxWidth--content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}


.blockWrap_e13994dd2a5948908289e43913215fba {
    padding-top: 80px;
    padding-bottom: 20px;
}
.blockWrap_fcea5f2ff4664108b5cd63f7851e9edf .wpcf7.js {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.blockWrap_fcea5f2ff4664108b5cd63f7851e9edf .wpcf7.js p span input {
    height: 48px;
    margin: 12px 0 0;
    padding: 16px 20px;
    border-radius: 5px;
    border: 1px solid #dddedf;
    background-color: #fff;
    border-color: #dc3545;
}
.blockWrap_fcea5f2ff4664108b5cd63f7851e9edf .wpcf7.js p .form-submit {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    opacity: .65;
}
.blockWrap_fcea5f2ff4664108b5cd63f7851e9edf .wpcf7.js p .form-submit:hover {
    color: #FFFFFF;
    background-color: #d22084;
    border-color: #d22084;
}


.blockWrap_b7357fe971eb4539959d9f80fc60627a {
    background-color: #d9e3e9;
    background-image: none;
    padding-top: 80px;
    padding-bottom: 80px;
}
.blockWrap_b7357fe971eb4539959d9f80fc60627a .item {
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    background-image: none;
    background-color: #fff;
    border-radius: 8px;
}
.blockWrap_b7357fe971eb4539959d9f80fc60627a .item .itemContent h2 {
    letter-spacing: .01em;
    text-align: left;
    color: #1c1d1e;
    font-size: 28px;
    padding-bottom: 0.5em;
}
.blockWrap_b7357fe971eb4539959d9f80fc60627a .item .itemContent .itemInnerContent p {
    padding-bottom: 1.6em;
    font-size: 16px;
}


.blockWrap_dcf93890206e4a6780c6ecdad5f3460c {
    padding-top: 80px;
    padding-bottom: 20px;
}
.blockWrap_c0fdda9ccf884d1bb9f44e80f683e0dc .wpcf7.js {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.blockWrap_aa5da84df73f47deb094e820c08d1683 {
    padding-top: 80px;
    padding-bottom: 80px;
    color: #878787;
}
.blockWrap_aa5da84df73f47deb094e820c08d1683 .blockInnerContent .maxWidth--content p {
    padding-bottom: 1.6em;
    font-size: 16px;
}